<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/css/master.css">
        <title>Welcomto My Board</title>
    </head>
    <body>
        <h1>Use EJS</h1><br>
        Count : <%= count %>
    </body>
</html>